.comment {
  background-color: #f8f9fa; /* Light background for each comment */
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  font-size: 14px; /* Adjust font size for comment text */
}

.comment p {
  margin: 0;
  flex-grow: 1;
  padding-right: 10px; /* Spacing between text and icon */
}

.comment-delete-icon {
  color: #dc3545; /* Red color for delete icon */
  cursor: pointer;
}

/* Add hover effect for delete icon for better user interaction */
.comment-delete-icon:hover {
  color: #bd2130;
}
